extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.log2() applied to #{id1} is #{log}
  p Math.cosh() applied to #{id2} is #{cosh}
  p Math.floor() applied to #{id1} is #{floor}

